AIVEN_HOST=it-unit-mysql-tharni375-1d90.k.aivencloud.com
AIVEN_PORT=13621
AIVEN_DATABASE=defaultdb
AIVEN_USER=avnadmin
AIVEN_PASSWORD=replace-with-your-aiven-mysql-password
AIVEN_CA_FILE=F:/Projects/SLSI/backend/ca.pem
